{% extends "layout.html" %}

{% block title %}
Estadistiques
{% endblock %}

{% block contingut %}
<div class="w3-row w3-center info informacio">
    <h2>ESTADÍSTIQUES</h2>
    <div class="w3-responsive">
        <table id="dades" class="w3-table-all w3-centered dades">
            <thead>
                <tr>
                  <th>Carregador</th>
                  <th>Connector</th>
                  <th>Transacció</th>
                  <th>Data</th>
                  <th>Valor</th>
                  <th>Unitats</th>
                  <th>Mesurand</th>
                  <th>Context</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="w3-row w3-center info informacio">
    <h2>HISTORIAL D'ESTATS DELS CONNECTORS</h2>
    <div class="w3-responsive">
        <table id="estats" class="w3-table-all w3-centered estats">
            <thead>
                <tr>
                  <th>Carregador</th>
                  <th>Estat</th>
                  <th>Connector</th>
                  <th>Data</th>
                  <th>Codi d'error</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="w3-row w3-center info informacio">
    <h2>HISTORIAL DE TRANSACCIONS</h2>
    <div class="w3-responsive">
        <table id="transaccions" class="w3-table-all w3-centered transaccions">
            <thead>
                <tr>
                  <th>Carregador</th>
                  <th>Connector</th>
                  <th>Estat</th>
                  <th>Data</th>
                  <th>Motiu</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script src="../static/scripts/estadistiques_scripts.js"></script>
{% endblock %}