<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="w3-display-container w3-display-middle w3-center login-container">
        <h1>Benvingut</h1>
        <form action="/login" method="post">
            <label for="username">Nom d'usuari:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="pwd">Contrasenya:</label><br>
            <input type="password" id="pwd" name="pwd" required><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>

